<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Due date</th>
      <th>Description</th>
      <th>Task budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <div class="row">
          <div class="col-lg-2">
            <td><%= task.category.name %></td>
          </div>
          <div class="col-lg-2">
            <td><%= task.name %></td>
          </div>
          <div class="col-lg-2">
            <td><%= task.start_time %></td>
          </div>
          <div class="col-lg-2">
            <td><%= task.description %></td>
          </div>
          <div class="col-lg-2">
            <td><%= task.task_budget %></td>
          </div>
          <div class="col-lg-3">
            <td><%= link_to 'Show', task %>
            <%= link_to 'Edit', edit_task_path(task) %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
