<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @task.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @task.start_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Task budget:</strong>
  <%= @task.task_budget %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |   <%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Mark as complete' %> | <%= link_to 'Back', tasks_path %>
