<p id="notice"><%= notice %></p>

<h1>Task Categories</h1>


<% for i in 0...@categories.length do %>
<ul class="nav nav-stacked" id= "<%= i %>" >
    <li class="panel">
        <a data-toggle="collapse" data-parent="#<%= i %>" href="#link<%=i%>"><%= @categories[i][:name].to_s %></a>
        <ul id="link<%= i %>" class="collapse panel-collapse"><%= link_to 'New Task', new_task_path %>
          <% @categories[i].tasks.each do |task| %>
              <li><a href="tasks/<%= task.id%>"><%= task.name %></a></li>
            <% end %>
        </ul>
      </li>
</ul>
<% end %>

<br>

<%= link_to 'New Category', new_category_path %>

<h1 style="text-align: center;">Completed Tasks</h1>
<br>
<hr>
<% @categories.each do |category| %>
  <% category.tasks.each do |task| %>
    <% if task.complete == true %>
      <a href="tasks/<%= task.id %>"><div class="row">
        <div class="col-lg-5">
          <p style="text-align: right;"> <%= category.name %> </p>
        </div>
        <div class="col-lg-7">
          <p style="text-align: left;"> <%= task.name %>: completed on DATE </p>
        </div>
      </div></a>
      <hr>
      <br>
    <% end %>
  <% end %>
<% end %>
