<p id="notice"><%= notice %></p>

<h1>Task Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Descripton</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody><button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum...</p>
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
  </tr>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>
        <!-- <td><%= category.color %></td>
        <td><%= category.descripton %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>

<h1>Completed Tasks</h1>
<ul>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
</ul>
