<p id="notice"><%= notice %></p>

<h1>Task Categories</h1>
<% for i in 0...@categories.length do %>
<ul class="nav nav-stacked" id= "<%= i %>" >
    <li class="panel">
              <a data-toggle="collapse" data-parent="#<%= i %>" href="#link<%=i%>"><%= @categories[i][:name].to_s %></a>
              <ul id="link<%= i %>" class="collapse panel-collapse">
                <!-- Hi jess- i changed the contents of the accoridon from category.description to the name of the tasks in that category -->
                <% @categories[i].tasks.each do |task| %>
                    <li><%= task.name %></li>
                    <li>Link to task</li>
                  <% end %>
              </ul>
            </li>

</ul>
<% end %>


<br>

<%= link_to 'New Category', new_category_path %>

<h1>Completed Tasks</h1>
<ul>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
</ul>
