<p id="notice"><%= notice %></p>

<h1>Task Categories</h1>
<ul class="nav nav-stacked" id="accordion1">
  <% @categories.each do |category| %>
            <li class="panel">
              <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink"><%= category.name %></a>
              <ul id="firstLink" class="collapse panel-collapse in">
                    <li><%= category.description %></li>


                </ul>
            </li>
            <li class="panel">
              <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink"><%= category.name %></a>
              <ul id="firstLink" class="collapse panel-collapse in">
                    <li><%= category.description %></li>


                </ul>
            </li>
            <% end %>

  <!-- <tbody> -->


  <button class="accordion"></button>
  <div class="panel">

    <%= link_to 'Show', @category %>
  </div>



<br>

<%= link_to 'New Category', new_category_path %>

<h1>Completed Tasks</h1>
<ul>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
</ul>
