<p id="notice"><%= notice %></p>

<h1>Task Categories</h1>
<% for i in 0...@categories.length do %>
<ul class="nav nav-stacked" id= "<%= i %>" >
    <li class="panel">
              <a data-toggle="collapse" data-parent="#<%= i %>" href="#link<%=i%>"><%= @categories[i][:name].to_s %></a>
              <ul id="link<%= i %>" class="collapse panel-collapse in">
                    <li><%= @categories[i][:description] %></li>
              </ul>
            </li>

</ul>
<% end %>


<br>

<%= link_to 'New Category', new_category_path %>

<h1>Completed Tasks</h1>
<ul>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
  <li>XYZ</li>
</ul>
